<div class="mobile-nav flex flex-col absolute top-0 right-20 h-screen w-full max-w-lg bg-white" [class.right-10]="modalPanelCollapsed">
  <div class="mobile-nav__header  w-full h-16 py-2 px-4 shadow-sm">
      <div class="nav-container h-full flex flex-row justify-between items-center">
        <div class="logo h-full w-40 flex-shrink-0 flex items-center">
          <img src="https://int.valorissimo.com/assets/img/logo/LogoVALORISSIMO_ORANGE_BLEU_noPadding.svg" class="h-full">
        </div>
        <button class="mobile-menu-button h-10 w-10 flex justify-center items-center" (click)="toggleModalPanelCollapsed()">
          <hero-icon name="x" class="'w-5 h-5 text-red-900'"></hero-icon>
        </button>
      </div>
  </div>

  <div class="mobile-nav__body block flex-1 overflow-x-hidden overflow-y-auto pt-6 pb-12">
    <mat-accordion displayMode="flat" [multi]="false" [hideToggle]="false">
      <ng-container *ngFor="let menuItem of menuItems">
        <mat-expansion-panel class="shadow-none">
          <mat-expansion-panel-header>
            <hero-icon [name]="menuItem.icon" class="w-5 h-5 mr-1"></hero-icon>
            <!-- add feature for altIcon if action = active -->
            <!-- <hero-icon [name]="menuItem.altIcon" class="w-5 h-5 lg:mr-1 text-orange-600"></hero-icon> -->
            <span>{{menuItem.label}}</span>
          </mat-expansion-panel-header>

          <div>
            <ng-container *ngFor="let dropItem of menuItem.dropItems">
              <!-- to adapt for in-app routes -->
              <ng-container *ngIf="dropItem.extLink || dropItem.route || dropItem.action">
                <a [attr.href]="dropItem.extLink" class="menu-subitem cursor-pointer flex items-center border-b last:border-b-0 border-gray-100 w-full whitespace-nowrap py-3 hover:text-orange-500">
                  <span class="font-semibold text-sm" ngClass="{{dropItem.twTxtColor}}"> {{dropItem.label}}</span>
                  <hero-icon *ngIf="dropItem.extLink" name="external-link" type="outline" class="text-gray-400 w-4 h-4 ml-1"></hero-icon>
                </a>
              </ng-container>
              <ng-container *ngIf="dropItem.contacts">
                <ng-container *ngFor="let contact of dropItem.contacts">
                  <div class="contact items-center border-b last:border-b-0 border-gray-300 uppercase font-bold">
                    <p>{{contact.label}}</p>
                    <p>{{contact.phone}}</p>
                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>

</div>
